// {
//   "presets": [
//     [
//       "@vue/app",
//       {
//         "polyfills": ["es7.object.entries", "es6.promise"]
//       }
//     ]
//   ]
// }
{
  "presets": [
    [
      "@vue/app",
      {
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ]
}